.added_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  text-align: center;
}

.main_text {
  font-family: "Space Grotesk";
  font-weight: 500;
  font-style: Medium;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 3.42px;
  text-align: center;
  color: rgba(33, 9, 47, 1);
}

.sub_text {
  font-family: "Space Grotesk";
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(143, 134, 148, 1);
}
