.bot_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 447px;
  height: 245px;
  border-radius: 10px;
  opacity: 1;
  border: 1px solid red;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(168.73deg, #ffffff 5%, #d2d3d9 91.69%);
}
