button {
  width: 100%;
  height: 53px;
  border-radius: 8px;
  opacity: 1;
  background-color: rgba(33, 9, 47, 1);
  color: white;
  border: none;
  font-family: "Space Grotesk";
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
}
