.oval {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: linear-gradient(163.95deg, #6348fe 4.74%, #610595 88.83%);
}
