.code_information {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.code_information > p {
  font-family: "Space Grotesk";
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(33, 9, 47, 1);
}

.code_information > input {
  width: 191px;
  height: 45px;
  top: 24px;
  border-radius: 8px;
  opacity: 1;
  border: 1px solid rgba(223, 222, 224, 1);
  padding-left: 16px;
}

.code_information > input::placeholder {
  font-family: "Space Grotesk";
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgba(33, 9, 47, 0.3);
}

.code_information > input:focus {
  outline: 1px solid rgba(99, 72, 254, 1);
}
